rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /user/{userID} {
      allow read, write: if true;

      // Only allow uploads of any image that's less than 5MB
      allow write: if request.resource.size < 5 * 1024 * 1023
        && request.resource.contentType.matches('image/.*');
    }
  }
}
